@use "../../layout/default/base" as *

.section
  display: grid
  grid-template-columns: 1fr
  justify-items: center
  border-bottom: $base-color-septenary solid 1px
  scroll-margin-top: 5em

  &-content
    display: grid
    padding: 1em
    gap: 1em
    scroll-margin-top: 6em
    grid-template-columns: 1fr 1fr
    max-width: $base-max-width
    width: 100%
    box-sizing: border-box

    @media (max-width: 900px)
      grid-template-columns: 1fr

    &_col1
      grid-template-columns: 1fr
      // justify-items: center

  &_p
    background-color: $base-color-quaternary
    color: $base-color-tertiary

  &_i
    color: $base-color-primary

    background-image: url(/images/Milky_way/bg.jpg)
    background-attachment: fixed
    background-color: $base-color-tertiary
    background-repeat: no-repeat
    background-size: cover

    &_1
      background-image: url(/images/Milky_way/galaxis-nebula-sterne-weltraum-1641701178HeV.jpg)
      background-attachment: fixed
      background-color: $base-color-tertiary
      background-repeat: no-repeat
      background-size: cover

    &_2
      background-image: url(/images/Milky_way/tarantula-nebula.jpg)
      background-attachment: fixed
      background-color: $base-color-tertiary
      background-repeat: no-repeat
      background-size: cover
