# LOG
logs
log
*.log
*.log.*

# distribuable
dist
dist-ssr
build
build-ssr

# Node
node_modules
.npm

# dotenv
.env
.env.*

# local
*.local

# dossier temp
.tmp

# dossier perso
data
public

# SSL/TLS
*.pem
*.key
*.csr
*.crt

# archive
*.tar.gz
*.zip

# Editor directories and files
.vscode/*
!.vscode/extensions.json
